<div class="container">

    <section>
        <h1>Libreta nueva</h1>

        <div class="libreta-added" *ngIf="newNotebook">
            <svg class="bi bi-check" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
            </svg>
            <strong>
                Libreta agregada
            </strong>
            <button name="addNotebook" (click)="newNotebook = null" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form [formGroup]="form" (ngSubmit)="addNotebook(form.value)" class="form-group">
            <div>
                <div class="form-group form-inline">
                    <label class="form-control-label" for="">Modelo: </label>
                    <input class="form-control" type="text" placeholder="" formControlName="model">
                </div>
                <div class="form-group form-inline">
                    <label class="form-control-label" for="">Descripción de la libreta: </label>
                    <input class="form-control" type="text" placeholder="Encuadernación..."
                        formControlName="encuadernacion">
                </div>
                <div class="form-group form-inline">
                    <label class="form-control-label" for="">Color: </label>
                    <input class="form-control" type="text" placeholder="" formControlName="color">
                </div>
                <div class="form-group form-inline">
                    <label class="form-control-label" for="">Precio: </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input class="form-control" type="number" placeholder="230.00" formControlName="price">
                    </div>
                </div>
                <div class="form-group form-inline">
                    <label class="form-control-label" for="">Url de la foto: </label>
                    <input class="form-control" type="url" placeholder="/assets/IMG_4405.JPG"
                        formControlName="urlPhoto">
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="">Tipo de material: </label>
                    <select name="material" formControlName="typeOfMaterial">
                        <option value="papel" selected>Papel</option>
                        <option value="tela">Tela</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-check-label d-block" for="">Tamaño: </label>
                    <div class="form-check-inline">
                        <input type="radio" name="sizeOfNotebook" value="carta" formControlName="sizeOfNotebook">
                        Libreta media carta
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" name="sizeOfNotebook" value="bolsillo" formControlName="sizeOfNotebook">
                        Libreta de bolsillo
                    </div>
                </div>
            </div>
            <button name="submit" class="btn btn-outline-primary" type="submit">Agregar</button>
        </form>
    </section>

    <section class="stockSection">
        <h1> Stock de libretas </h1>
        <div *ngIf="stockNotebooks">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Model</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let notebook of stockNotebooks; let i = index">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ notebook.model   }}</td>
                        <td>{{ notebook.price | currency  }}</td>
                        <td> <svg (click)="deleteItem(notebook.id)" class="bi bi-x-square" width="1.5em" height="1.5em"
                                viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                <path fill-rule="evenodd"
                                    d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                                <path fill-rule="evenodd"
                                    d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                            </svg></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

</div>

<app-footer></app-footer>