<div class="container">
    <h1>Resumen del pedido:</h1>
    <div *ngIf="buyOfNotebooks">
        <div [@shoppingAnimation]="animationState" *ngFor="let notebook of buyOfNotebooks; let i = index">
            <p class="list-items">{{i + 1}})</p>
            <p>{{notebook.model}} </p>
            <svg (click)="openModal(i)" ngbAutofocus class="bi bi-x-square" width="1.5em" height="1.5em" viewBox="0 0 16 16"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                <path fill-rule="evenodd"
                    d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                <path fill-rule="evenodd"
                    d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
            </svg>
            <span class="price">{{notebook.price | currency}}</span>
        </div>
        <hr>
        <div class="subTotal">
            <div>Total :<span class="total">{{total | currency}}</span></div>
        </div>
    </div>
    <button name="pay" class="btn btn-outline-primary" disabled>Realizar pago</button>
    <div class="note"><strong>Nota: </strong>Por el momento no es posible realizar el pago, por este medio.</div>
</div>

<!-- <ngbd-modal-content (totalUpdate)="onTotal($event)"></ngbd-modal-content> -->

<div class="footer">
    <app-footer></app-footer>
</div>